

.row{
    display: flex;
    height: 40px;
}

.penteBoard{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 760px;
    height: 760px;
    outline: 2px solid #ccc;
    position: absolute;
    top: 80px;
    left: 30px;
}

.penteBoard .tile{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.tileCapture{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.tileIMG{
    width: 100%;
    height: auto;
}


.btn-group button {
    font-size: 20px;
    border: 1px solid;

    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

.btn-group button:hover {
    background-color: #FFFFFF;
}

.split {
    height: 100%;


    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    left: 0;
    align: left;
}

.right {
    right: 0;
    align: right;
}

.centered {
    position: absolute;
    top: 180px;
    left: 1100px;
    transform: translate(-50%, -50%);
    text-align: center;
}

.scorebox {
    font-size: 20px;
    position: absolute;
    right: 20%;
    text-align: right;
    padding: 10px;
    outline: 2px solid #ccc;
}

.alert {
    position: absolute;
    text-align: center;
    top: 15px;
    left: 15px;
    width: 795px;
    height: 25px;
    padding-bottom: 15px;
    padding-top: 20px;
    background-color: #FFEA00;
    border: 1px solid black;
    color: black;
}

.closebtn {
    margin-left: 15px;
    color: black;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 1s;
    padding-right: 10px;
}

.closebtn:hover {
    color: black;
}

.title{
    font-size: 80px;
}