<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/app.css}" />



</head>
<body>



<div class="split right">



    <div class="centered">
        <h1 class="title">Pente</h1>

        <div class="btn-group" th:background-color="${colorScale.HexValue}" th:color="${offsetScale.LongHexValue}">
            <a href="/startNewGame">
                <button th:border-color="${offsetScale.LongHexValue}">Start a new Game</button>
            </a>
            <a href="/rules">
                <button th:border-color="${offsetScale.LongHexValue}">Rules</button>
            </a>
        </div>



        <br>
        <br>
        <br>
        <br>
        <div class="scorebox">
            <div>
                <div th:text="'Human Captures: '+${humanCaptures}"></div>
            </div>
            <div>
                <div th:text="'Computer Captures: '+${computerCaptures}"></div>
            </div>
        </div>



    </div>
</div>

<div class="split left">

    <div th:hidden="${!humanWon}">
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <strong>Congratulations!</strong> You won!
        </div>
    </div>

    <div th:hidden="${!computerWon}">
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            I am sorry, the computer won.
        </div>
    </div>

    <div class="penteBoard">
        <div th:each="currentRow : ${theBoard}">
            <div class="row">
                <div th:each="currentTile : ${currentRow}">
                    <div class="tile">
                        <a th:href="'/human/'+${currentTile.id}">
                            <img class="tileIMG" th:src="@{'/TileImages/' + ${currentTile.colorTile} + '.png'}"/>
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </div>


</div>




</body>
</html>

